body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #212122;
    margin: 0;
    padding: 0;
}

section p {
    color: red;
}

section > p {
    color: goldenrod;
}

div ~ p {
    text-decoration: underline;
}

p:first-child {
    color: blue;
}

p:last-child {
    color: blueviolet;
}

p + div {
    border: 4px dotted blue;
}
